body
{
 background-color: #2d2d2d;
}

/* създаване на меню*/
#menu
{
  position: relative;
  width: 880px;
  height: 50px;
  margin: 0 auto; /* центриране на блока*/
  background-color: #696969;
}
#menu p
{
  float: left;
  width: 200px;
  height:25px;
  color:white;
  background-color: #00008B;
  font-size:20px;
  text-align:center;
  margin-right:10px;
  margin-left: 10px;
  cursor:pointer;
 
}

#menu p:hover 
{
  transform : scale(2,4);
}

#block      /*съдържание на страницата */
{
position:relative;
width: 880px;
height: 800px;
background-color: #aaaaaa;
margin: 0 auto;
}

#block h2  /* заглавие в колоните */
{
color: black;
font-size: 24px;
text-align: center;
}

#block p   /*оформление на текста в колоните */
{
color: black;
font-size: 16px;
text-align: justify;
text-indent: 15px;
padding-left: 5px;
padding-right: 5px;
}

#top p  /*заглавие на сайта */
{
margin: 0;
color: blue;
font-size: 40px;
text-align: center;
}

#column1 /* Колона 1*/
{
width: 220px;
height: 350px;
background-color: #008b8b ;
float: left;

}

#column1:hover
{
transform: translate(x,y);
}
#column2 /* Колона 2*/
{
width: 220px;
height: 350px;
background-color: #00ffff ;
float: left;

}
#column2:hover
{
 transform: rotate(7);
}
#column3  /* Колона 3*/
{
width: 220px;
height: 350px;
background-color: #79cdcd ;
float: left;

}

#column3:hover
{
transform: scale(x, y )*20%;
}
#column4  /* Колона 4*/
{
width: 220px;
height: 350px;
background-color: #9BCD9B;
float: left;

}

#column4:hover
{
transform :skew(deg-x, deg-y);
}

#source  /*Бутон Източници на информация */
{
position:relative;
top:20px;
display:block;
width: 300px;
height: 50px;
margin:0 auto;
float: left; 
left:50%;
margin-left:-150px;
padding:20px;
}

#source p 
{
color: white;
background-color: blue;
font-size: 20px;
text-align:center;
padding:20px;
border-radius: 30px;

}
#source p:hover
{
box-shadow:x-10px y-10px blur-5px color-black;
}